<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
		crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
</head>

<body>
	<div class="card m-2">
		<div class="card-header">
			서블릿 api 요청 응답
		</div>
		<div class="card-body">

			<div class="card">
				<div class="card-header">서블릿 api 요청 응답</div>
				<div class="card-body">
					<ul>
						<li>
							<a href="/servlet-api-rest/get-client-ip" class="btn btn-info btn-sm">클라이언트 IP 얻기</a>
							<a href="/servlet-api-rest/file-download" class="btn btn-info btn-sm">파일 다운로드</a>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</body>

</html>